<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Confirmation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="col-md-6 col-xm-6 col-sm-6 col-md-offset-3">
    <div class="panel panel-info spacer">
        <div class="panel-heading">Confirmation </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label">ID:</label>
                <label class="control-label" th:text="${patient.id}"></label>
            </div>
            <div class="form-group">
                <label class="control-label">Name:</label>
                <label class="control-label" th:text="${patient.name}"></label>
            </div>
            <div class="form-group">
                <label class="control-label">BirthDate:</label>
                <label class="control-label" th:text="${patient.birthDate}"></label>
            </div>
            <div class="form-group">
                <label class="control-label">Sick:</label>
                <label class="control-label" th:text="${patient.sick}"></label>
            </div>
        </div>
        <a href="/patients"><button type="button" class="btn btn-primary col-md-offset-10">Confirm</button></a>
    </div>
</div>
</body>
</html>